<h1 class="heading"> My <span> Contact </span> </h1>
<section class="contact" id="Contact">
<div class="row">
    <div class="content">
        <h3 class="title"> Contact Info </h3>
        <div class="info">
            <h3><i class=" fas fa-envelope"></i> sereniojames363@gmail.com </h3>
            <h3><i class=" fab fa-facebook"></i> James Manayaga Serenio </h3>
            <h3><i class=" fas fa-phone"></i> 09264686973-TM </h3>
            <h3><i class=" fas fa-phone"></i> 09308887220-Smart </h3>
            <h3><i class=" fas fa-map-marker-alt"></i> Tankulan, Manolo Fortich, Bukidnon </h3>
        </div>
    </div>

    <form action="">
        <input type="text" placeholder="Name:" class="box">
        <input type="email" placeholder="Email:" class="box">
        <input type="text" placeholder="Project Name:" class="box">
        <textarea name="" id="" cols="30" rows="10" class="box message" placeholder="Message:"></textarea>
        <button type="submit" class="btn"> Send <i class="fas fa-paper-plane"></i> </button>
    </form>
</div>

</section>