<section class="education" id="Education">
    <h1 class="heading"> My <span> Education </span> </h1>
    <div class="box-container">

        <div class="box">
            <i class="hi"></i>
            <span>2018</span>
            <h3>Sports</h3>
            <p>"This year, 
I joined the swimming team for our school, 
and we practiced for a year for the upcoming
competition."</p>
        </div>

        <div class="box">
            <i class="hi"></i>
            <span>2019</span>
            <h3>Sports</h3>
            <p>"This year, 
we competed in the games, 
and I won three gold medals and other events. 
Although it wasn't bad, 
I also secured one silver and two bronze medals 
in the qualifying rounds for the 
Philippine team as a first-timer."</p>
        </div>

        <div class="box">
            <i class="hi"></i>
            <span>2020</span>
            <h3>A.B.M</h3>
            <p>"This year, 
I have graduated, 
and the strand I took was 
A.B.M (Accountancy, Business, and Management) 
because I know I can use it in the future."
</p>
        </div>

        <div class="box">
            <i class="hi"></i>
            <span>2021</span>
            <h3>A.B.M</h3>
            <p>"This year, 
I am an incoming graduate, 
and I will be taking
 the entrance exams for my college."</p>
        </div>

        <div class="box">
            <i class="hi"></i>
            <span>2022</span>
            <h3>Information technology</h3>
            <p>"This year, 
I passed the exam and qualified for almost all courses. 
I chose Information Technology 
and have already registered 
for my incoming first year in college."</p>
        </div>

        <div class="box">
            <i class="hi"></i>
            <span>2023</span>
            <h3>Information technology</h3>
            <p>"This year, 
I am not yet in my second year of college, 
but I am still in the learning phase. 
We have completed several projects, 
and I am currently studying front-end development. 
Next in line is back-end development as well."</p>
        </div>
    </div>
</section>